{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ user }}{% endblock title %}
{% block style %}<link href="{% static 'style/profile.css' %}" type="text/css" media="screen" rel="stylesheet">{% endblock style %}

{% block profile %}active{% endblock profile %}


{% block content %}
    <div id="main" class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div>
                    {% if user.profile.image %}
                    <img id="profile-pic" class="card-img" alt="{{ user }}" src="{{ user.profile.image.url }}"/>
                    {% endif %}
                </div>
                <div class="image-new">
                    <h4 class="text-center">Change profile picture</h4>
                    <form action="{% url 'change-image' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="file" accept="image/*" name="profile" required class="form-control">
                        </div>
                        <input type="submit" value="upload" class="btn btn-primary">
                    </form>
                </div>
            </div>
            <div class="col-md-7">
                <h3>Name</h3>
                <span>{{ user.first_name }} {{ user.last_name }}</span>
                <hr>
                <h3>Bio</h3>
                <span>{{ user.profile.bio }}</span>
                <hr>
                <h3>Pen name</h3>
                <span>{{ user.profile.writer_name }}</span>
                <hr>
                <h3>Date joined</h3>
                <span>{{ user.date_joined }}</span>

                <div style="margin-top: 2em;">
                    <a href="{% url 'edit-profile' %}" class="btn btn-dark">Edit your details</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <h2 id="p-l" class="list-group-item">Posts you've liked/commented on</h2>
            <div class="container">
                {% if posts %}
                    {% for post in posts %}
                    <div class="row tag-post" id="{{ post.name }}">
                        <div class="col-sm-3">
                            <img src="{{ post.image.url }}" alt="image for {{ post.name }}" class="card-img post-image">
                        </div>
                        <div class="col-sm-9">
                                <h3><a href="{{ post.get_absolute_url }}">{{ post.name }}</a></h3> 
                                <span class="text-dark">by</span>
                                <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a>
                            <p>{{ post.lead_text|truncatechars:90 }}<a href="{% url 'blog:post' post.id %}">read post</a></p>
                            <span>posted {{post.date }}</span>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="container text-center">
                        <h6>You have not liked/commented on any post</h6>
                        <h3>😕</h3>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="container">
            <h2 id="p-w" class="list-group-item">Posts you've authored as {{ user.profile.writer_name }}</h2>
            <div class="container">
                {% if posts_authored %}
                    {% for post in posts_authored %}
                    <div class="row tag-post" id="{{ post.name }}">
                            <div class="col-sm-3">
                                <img src="{{ post.image.url }}" alt="image for {{ post.name }}" class="card-img post-image">
                            </div>
                            <div class="col-sm-9">
                                    <h3><a href="{{ post.get_absolute_url }}">{{ post.name }}</a></h3> 
                                    <p>{{ post.lead_text|truncatechars:90 }}<a href="{% url 'blog:post' post.id %}">read post</a></p>
                                <span>posted {{post.date }}</span>
                                {% if user.profile == post.author %}
                                <div>
                                    <a class="col-sm-3 btn btn-outline-primary" href="{% url 'blog:edit_post' post.id %}">Edit post</a>
                                    <a class="col-sm-3 btn btn-outline-danger" href="{% url 'blog:delete_post' post.id %}">Delete post</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="container text-center">
                        <h6>You have not authored any posts</h6>
                        <h3>😕</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}<script src="{% static 'scripts/profile.js' %}"></script>{% endblock script %}