{% extends "blog/base.html" %}
{% load staticfiles %}

{% block title %}Sign up{% endblock %}

{% block content %}
<style>
        #main {
            margin-top: 100px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            padding-bottom: 30px;
            background-color: blanchedalmond;
            padding-top: 2em;
            float: right;
            background-color: gainsboro;
        }

        #jumbo {
            margin-top: 8em;
            margin-left: 6em;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
        }

        #main:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
        }
      
    </style>

    <div class="row">
        <div class="col-md-7">
            <div class="jumbotron text-justify" id="jumbo">
                <div class="container">
                    <h1 class="text-center">muremwa.com</h1>
                    <p>Welcome to muremwa.com...home to <a href="{% url 'index' %}">Blogs</a>, master tutorials and more..<a style="color: darkblue;" class="btn btn-link" onclick="signUp()">Sign up now</a> and join thousands of others
                       . If you already have an account click the button below to login
                    </p>
                    <hr>
                    <p class="text-info">Already have an account? <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a></p>
                </div>
            </div>
        </div>

        <div id="main" class="container col-md-4">
            
            <input onclick="normal()" id="normal" style="font-size: 10px; display: none;" class="btn btn-dark col-sm-3" value="Normal view">
           
            <h2>Sign up</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <div class="form-group">
                      {{ field.label_tag }}
                      {{ field }}
                      {% for error in field.errors %}
                          <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                  </div>
                {% endfor %}
                <div id="acceptdiv">
                    <span class="text-danger">By signing in you are accepting our <a href="#">terms and conditions</a></span>
                    <button class="btn btn-outline-danger" onclick="accept()">Accept</button>
                </div>
                <button style="display: none;" id="signup" class="btn btn-success" type="submit">Sign up</button>
            </form>
            <script type="text/javascript">
                inputs = document.getElementsByTagName("input");
                for(i in inputs){
                    inputs[i].classList.add("form-control");
                }
                
                function signUp(){
                    $(function(){
                        $("#jumbo").slideUp(500);
                    });

                    var form = document.getElementById("main");
                    form.classList.remove("col-md-4");
                    form.classList.add("col-md-6");
                    document.getElementById("normal").style.display = "block";

                }

                function normal(){
                    var form = document.getElementById("main");
                    form.classList.remove("col-md-6");
                    form.classList.add("col-md-4");

                    $(function(){
                        $("#jumbo").slideDown(500);
                    });   
                    document.getElementById("normal").style.display = "none";
                }
                $(function(){
                    $("#main").tooltip();
                });

                function accept(){
                    $(function(){
                        $("#acceptdiv").hide(500);
                        $("#signup").show(100);
                    });
                    
                }
                

                
               
            </script>
        </div>
    </div>
{% endblock content %}