<div id="comments" class="container col-md-10 alert-light">
    <h4>Comments <small class="text-danger"><i>trolling comments will be deleted!</i></small></h4>

    {% if user.is_authenticated %}
    <!-- Comment entry -->
        <form class="form-inline" id="comment-form" style="padding-bottom: 10px;" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group col-sm-8">
                {% for field in comment_form %}{{ field }}{% endfor %}
            </div>
            <button style="margin-left: 10px;" class="btn btn-success" value="{{ post.id }}" type="submit">Comment</button>
        </form>
        <div id="spin" class="container col-sm-5">
        </div>
        <script type="text/javascript">
            var pk = "{{ post.id }}";
            var commentUrl = "{% url 'post_comment' %}?next={% url 'post' post.id %}";
        </script>
    {% else %}
        <a href="{% url 'login' %}?next={% url 'post' post.id %}" class="btn btn-success">Log in to comment</a>
    {% endif %}

    <!-- All comments -->
    <script type="text/javascript">var allCommentsUrl = "{% url 'all-comments' %}"; var token = "{% csrf_token %}";</script>
    {% if comments %}
        {% include "blog/new-comment.html" %}
        <hr>
        {% for comment in comments %}
            <div class="row comment">
                <div id="user-img" class="col-sm-1">
                    <img src="{{ comment.user.image.url }}" alt="image of {{ comment.user.user }}">
                </div>
                <div class="col-sm-11">
                    <span><strong>{{ comment.user.user }}</strong> posted <strong class="dated">{{ comment.time }}</strong></span>
                    <p>{{ comment.comment_text }}</p>
                    {% if comment.comment_image %}
                        <div class="comment_image_area col-sm-10">
                            <img class="comment_image" alt="image from comment by {{ comment.user }}" src="{{ comment.comment_image.url }}">
                        </div>
                    {% endif %}
                </div>
            </div>
        
            <hr>
        {% endfor %}
    {% else %}
        {% include "blog/new-comment.html" %}
        <div id="no-comments" style="padding-bottom: 10px;" class="alert alert-warning alert-dismissible fade show" role="alert">
            <h4>Be the first to comment</h4>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
</div>