{% load staticfiles %}

<div id="comments" class="container col-md-10 alert-light">
    <h4>Comments <small class="text-danger"><i>trolling comments will be deleted!</i></small></h4>

    {% if user.is_authenticated %}
    <!-- Comment entry -->
        <form data-comment="{% url 'blog:post_comment' post.id %}" class="form-inline" id="comment-form" style="padding-bottom: 10px;" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group col-sm-8">
                {{ comment_form.comment_text }}
            </div>
            <button style="margin-left: 10px;" class="btn btn-success" value="{{ post.id }}" type="submit">Comment</button>
            {{ comment_form.comment_image }}
            <script type="text/javascript">
                document.getElementById('id_comment_image').style.display = "None";
            </script>
            <input type="button" value="Add an image" class="btn btn-primary" id="add-image">
        </form>
        <div id="spin" class="container col-sm-5">
        </div>
    {% else %}
        <a href="{% url 'login' %}?next={% url 'blog:post' post.id %}" class="btn btn-success">Log in to comment</a>
    {% endif %}


    <!-- All comments -->
    {% if comments %}
        {% include "blog/new-comment.html" %}
        <hr>
        {% for comment in comments %}
            <div class="row comment">
                <div class="col-sm-1 user-img">
                    <img src="{{ comment.user.image.url }}" alt="image of {{ comment.user.user }}">
                </div>
                <div class="col-sm-8 tar">
                    <span><strong>{{ comment.user.user }}</strong> posted <strong class="dated">{{ comment.time }}</strong></span>
                    <p>{{ comment.comment_text }}</p>

                    {# if there is a image in the comments #}
                    {% if comment.comment_image %}
                        <div class="comment-image-con">
                            <img src="{{ comment.comment_image.url }}" class="comment-image" id="comment-image-{{ comment.pk}}">
                        </div>
                    {% endif %}
                </div>
                {% if comment.user == user.profile or post.author == user.profile %}
                <div class="col-sm-3 text-center">
                    <span id="delete-comment" data-delete-url="{% url 'blog:delete_comment' comment.pk %}">
                        {% csrf_token %}
                        <img src="{% static 'svg/delete.svg' %}">
                    </span>
                </div>
                {% endif %}
            </div>
        
            <hr>
        {% endfor %}
    {% else %}
        {% include "blog/new-comment.html" %}
        <div id="no-comments" style="padding-bottom: 10px;" class="alert alert-warning alert-dismissible fade show" role="alert">
            <h4>Be the first to comment</h4>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
</div>