{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ post.name }} by {{ post.author }}{% endblock title %}
{% block style %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'blog/style/post.css' %}">
{% endblock style %}

{% block blog %}active{% endblock blog %}


{% block content %}
<div id="main" class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="container col-md-8 text-center">
                <h6>by <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a> | posted <span class="dated">{{ post.date }}</span></h6>
                <h1>{{ post.name }}</h1>
            </div>
            <hr>
            <div class="container col-md-11 text-justify">
                <div class="col-sm-6" id="main-image">
                    <img class="img-fluid" src="{{ post.image.url }}" alt="main image of {{ post.name }}">
                    <!-- <figcaption>Caption name</figcaption> -->
                </div>
                <hr>
                <p>{{ post.lead_text }}</p>
                <hr>
                <div>
                    {% for entry in entries %}
                        <div class="section">
                            {% if entry.title %}
                                <hr>
                                <h5>{{ entry.title }}</h5>
                            {% endif %}
                            {% if entry.image %}
                                <img class="img-thumbnail section-image" alt="image for {{entry.title}}" src="{{ entry.image.url }}">
                            {% endif %}
                            <p>{{ entry.content|linebreaks|safe }}</p>        
                        </div>
                    {% endfor %}
                </div>
            </div>          

            <hr>
            <p>Tags
                <ul id="top-tags" class="container row">
                    {% for tag in tags %}
                        <a style="margin: 2px;" href="{{ tag.get_absolute_url}}" class="btn btn-outline-info" style="margin-left: 5px;">{{ tag.name }}</a>           
                    {% endfor %}             
                </ul>
            </p>
            <hr>

           
            {% block post_comments %}
                <!-- Blog Comments -->
                {% include 'blog/comments.html' %}
            {% endblock post_comments %}
        </div>
        <div id="side-bar" class="col-md-3">
            <div id="author" class="card">
                <div class="card-header">
                    <span>The author of this post</span>
                </div>
                <div class="card-body">
                    <img src="{{ post.author.image.url }}" id="author-image" class="card-img-top" alt="{{ post.author }}'s image">
                    <span><a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></span>
                    <p class="text-justify">{{ post.author.bio}}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-link" href="{{ post.author.get_absolute_url }}">More on the author</a>
                </div>
            </div>

            {% if others.count > 1 %}
                <div id="more-posts" class="card">
                    <div class="card-header">
                        <span class="text-dark">More posts similar to this one</span>
                        <span class="text-dark"><a href="{{ relation.get_absolute_url }}">{{ relation }}</a></span>
                    </div>

                    <div id="more-posts-body" class="card-body">
                        <ul>
                            {% for other_post in others %}
                                {% if post != other_post %}
                                    <li class="card another-post">
                                        <img class="card-img-top" src="{{ other_post.image.url }}" alt="image for {{ other_post.name }}">
                                        <span><a href="{{ other_post.get_absolute_url }}">{{ other_post.name }}</a></span>
                                        <p>By<a href="{{ other_post.author.get_absolute_url }}"> {{ other_post.author }}</a></p>
                                        <p>Posted <a href="#" class="dated">{{ other_post.date }}</a></p>
                                    </li>
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
    
{% endblock content %}

{% block script %}<script src="{% static 'blog/scripts/posts.js' %}"></script>{% endblock script %}