html {
    font-size: 18px;
}

body {
    background-color: blanchedalmond;
}

footer {
    background-color: rgb(47, 59, 70);
    padding: 1em;
    margin-top: 4em;
    width: 100%;
}

footer p, footer span{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aqua;
}

#navbar {
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: all 0.5s linear;
    /* opacity: 0.89; */
}

.shadow {
    box-shadow: 0 10px 10px 5px rgba(50, 50, 50, 0.75);
}

.dropdown-menu {
    box-shadow: 0 8px 14px 8px rgba(0, 0, 0, 0.3);
}


@media screen and ( max-width: 1077px){
    html {
        font-size: 16px;
    }
}

@media screen and ( max-width: 750px){
    #main-image {
        width: 100%;
    }
}