#main {
    margin-top: 5em;
}

#p-l, #p-w {
    background-color: darkslategrey;
    text-align: center;
    height: 1.4em;
    padding-top: 0;
    margin-bottom: 1em;
}

.tag-post {
    border: 0.5px solid cornflowerblue;
    border-radius: 5px;
    margin: 2em;
    margin-left: 5em;
    padding: 0.3em;
}

.form-profile {
    margin: auto;
    width: 50%;
}

@media screen and ( max-width: 767px){
    .form-profile {
        width: 80%;
    }
}

@media screen and ( max-width: 579px){
    .form-profile {
        width: 100%;
    }
}